body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1, h2, h3 {
    color: #333;
    text-align: center;
  }
  
  .foto-perfil {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  ul {
    list-style: disc;
    padding-left: 20px;
  }